<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${todo.getTitle()}"></title>

    <link th:href="@{/style/theTodo.css}" rel="stylesheet"/>
</head>
<body>
<p class="title" th:text="${todo.getTitle()}"></p>
<div class="discriptionDIV">
    <p class="titleDesc" th:if="${todo.getDescription() != ''}">ОПИСАНИЕ: </p>
    <p class="theDiscription" th:text="${todo.getDescription()}"></p>
</div>

<form th:method="DELETE" th:action="@{/{id}(id=${todo.getId()})}">
    <input class="del-btn" type="submit" value="УДАЛИТЬ ЭТО ЗАДАНИЕ">
</form>
<br>
<a class="btn-a" href="http://localhost:8080/">ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ</a>
</body>
</html>