<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое задание</title>

    <link th:href="@{/style/new.css}" rel="stylesheet"/>
</head>
<body>
    <h1 class="title">Создавайте ваши задание ниже</h1>

    <form class="main" th:method="POST" th:action="@{/}" th:object="${todo}">
        <label for="title">Задание: </label>
        <input type="text" th:field="*{title}" id="title">
        <br/>
        <label for="description">Описание: </label>
        <input type="text" th:field="*{description}" id="description">
        <br/>
        <input class="btn" type="submit" value="СОЗДАТЬ">
    </form>

    <a class="lint-btn" href="http://localhost:8080/">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
</body>
</html>